<launch>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"></include>
    <arg name = "recordBag" default= "false" />

    <node
        pkg="turtlebot_walker"
        name="walker"
        type="walker"
        output="screen"
    />
    <node
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -x /camera/(.*) -O $(find turtlebot_walker)/results/walkerOutput.bag"
        if="$(arg recordBag)"
/>

</launch>
